body ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin-bottom: 100px;

}
.header {
    background: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* interação entre linhas e colunas usa grid layout */
h1 {
    text-align: center;
}
img {
    max-width: 100%;
    display: flex;
}
/* CSS GRID 1 */
.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100vh;
    padding:10px;
    margin: 0 auto;
    grid-gap: 20px;
}

.grid1 > div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    
}
/* solução atividade galeria responsiva */
.grid1 > div.filmes {
    /* 1 imagem na primeira coluna */
    grid-column: 1;
    /* linha 2 até 5 */
    grid-row: 2 / 5;
    border: 10px solid black;
}

@media (max-width:600px) {
    .grid1 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid1 > grid:nth-child(n + 4) {
        display: block;
    }
    .grid1 > div.filmes {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}